<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="container text-center">


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <img src="http://via.placeholder.com/350x350" class="img-responsive" alt="Image">

        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <img src="http://via.placeholder.com/350x350" class="img-responsive" alt="Image">

        </div>



    </div>

</body>

</html>