<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>LK</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border: 1 solid">
                <h3 class="text-center">
                    <span class="label label-info">SamSung Galaxy S8</span>
                </h3>
                <a class="thumbnail">
                    <img src="http://mediad.publicbroadcasting.net/p/kunm/files/styles/x_large/public/201801/Anonymous.jpg" alt="">
                </a>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px">
                    <h3 class="text-center">2.000.000 VND</h3>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-th-list" /> More detail</button>
                    <button type="button" class="btn btn-success pull-right">
                        <span class="glyphicon glyphicon-shopping-cart" /> Buy</button>
                </div>
                </hr>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px">
                    <button type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit" /> Edit</button>
                    <button type="button" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-floppy-remove" /> Remove</button>
                </div>

            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <h3 class="text-center">
                        <span class="label label-info">SamSung Galaxy S8</span>
                    </h3>
                    <a class="thumbnail">
                        <img src="http://via.placeholder.com/300x300" alt="">
                    </a>
    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px">
                        <h3 class="text-center">2.000.000 VND</h3>
                    </div>
    
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-th-list" /> More detail</button>
                        <button type="button" class="btn btn-success pull-right">
                            <span class="glyphicon glyphicon-shopping-cart" /> Buy</button>
                    </div>
                    </hr>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-bottom: 20px">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-edit" /> Edit</button>
                        <button type="button" class="btn btn-danger pull-right">
                            <span class="glyphicon glyphicon-floppy-remove" /> Remove</button>
                    </div>
    
                </div>


        </div>

    </div>

</body>

</html>